In [256]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [104]:
df1=pd.read_csv(r"D:\JUPYTER NOTEBOOK--1\PROJECT-1\cricket analysis\ipl-data-2 (2008-2024)\team_performance_dataset_2008to2024.csv")

In [105]:
df1['Date']=pd.to_datetime(df1['Date'])
df1['year']=df1['Date'].dt.year

In [106]:
df1.columns

Index(['Match_ID', 'Date', 'Teams', 'Venue', 'Toss_Winner', 'Toss_Decision',
       'Match_Winner', 'Win_Type', 'Win_Margin', 'First_Innings_Score',
       'Second_Innings_Score', 'Player_of_Match', 'Umpire', 'Umpire1',
       'Umpire2', 'Powerplay_Scores', 'Middle_Overs_Scores',
       'Death_Overs_Scores', 'year'],
      dtype='object')

In [107]:
df2=pd.read_csv('deliveries.csv')

In [108]:
df2.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [109]:
df3=pd.read_csv(r"D:\JUPYTER NOTEBOOK--1\PROJECT-1\cricket analysis\ipl-data-2 (2008-2024)\IPL_BallByBall2008_2024.csv")

C:\Users\moham\AppData\Local\Temp\ipykernel_38016\1790025010.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df3=pd.read_csv(r"D:\JUPYTER NOTEBOOK--1\PROJECT-1\cricket analysis\ipl-data-2 (2008-2024)\IPL_BallByBall2008_2024.csv")

In [257]:
df3.columns

Index(['Match id', 'Date', 'Season', 'Batting team', 'Bowling team',
       'Innings No', 'Ball No', 'Bowler', 'Striker', 'Non Striker',
       'batsman_run', 'extras', 'type of extras', 'total_runs', 'score/wicket',
       'wicket_confirmation', 'wicket_type', 'fielders_involved', 'Player Out',
       'year'],
      dtype='object')

In [111]:
print('df1 rows- ',df1.shape[0])
print('df2 rows- ',df2.shape[0])
print('df2 rows- ',df3.shape[0])

df1 rows-  1073
df2 rows-  260920
df3 rows-  255759

In [112]:
df3.rename(columns={
    'runs_scored':'batsman_run',
    'score':'total_runs'
    
    
},inplace=True)
df3['Date']=pd.to_datetime(df3['Date'])
df3['year']=df3['Date'].dt.year

In [ ]:
# CONVERTING DATE OF DF1 DATAFRAME IN PANDAS DATATIME AS TO FETCH THE INFO QUICKLY 
df1['Date']=pd.to_datetime(df1['Date'])
df1['year']=df1['Date'].dt.year

In [255]:
df1.sample(2)

,Match_ID,Date,Teams,Venue,Toss_Winner,Toss_Decision,Match_Winner,Win_Type,Win_Margin,First_Innings_Score,Second_Innings_Score,Player_of_Match,Umpire,Umpire1,Umpire2,Powerplay_Scores,Middle_Overs_Scores,Death_Overs_Scores,year
1034,1422129,2024-03-30,Lucknow Super Giants vs Punjab Kings,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow Super Giants,bat,Lucknow Super Giants,runs,21.0,199,178.0,MP Yadav,J Madanagopal,Navdeep Singh,V Narayan Kutty,54,103,42,2024
644,1136569,2018-04-14,Mumbai Indians vs Delhi Daredevils,Wankhede Stadium,Delhi Daredevils,field,Delhi Daredevils,wickets,7.0,194,195.0,JJ Roy,KN Ananthapadmanabhan,Nitin Menon,J Srinath,84,83,27,2018

In [258]:
df3.sample(2)

,Match id,Date,Season,Batting team,Bowling team,Innings No,Ball No,Bowler,Striker,Non Striker,batsman_run,extras,type of extras,total_runs,score/wicket,wicket_confirmation,wicket_type,fielders_involved,Player Out,year
28281,419110,2010-03-14,2009/10,Chennai Super Kings,Deccan Chargers,2,9.4,PP Ojha,JM Kemp,MS Dhoni,6,0,NaN,68,68/4,0,NaN,NaN,NaN,2010
65928,548336,2012-04-23,2012,Rajasthan Royals,Royal Challengers Bangalore,2,14.1,HV Patel,BJ Hodge,STR Binny,2,0,NaN,95,95/4,0,NaN,NaN,NaN,2012

In [80]:
df3.columns

Index(['Match id', 'Date', 'Season', 'Batting team', 'Bowling team',
       'Innings No', 'Ball No', 'Bowler', 'Striker', 'Non Striker',
       'batsman_run', 'extras', 'type of extras', 'total_runs', 'score/wicket',
       'wicket_confirmation', 'wicket_type', 'fielders_involved', 'Player Out',
       'year'],
      dtype='object')

In [84]:
df1.columns

Index(['Match_ID', 'Date', 'Teams', 'Venue', 'Toss_Winner', 'Toss_Decision',
       'Match_Winner', 'Win_Type', 'Win_Margin', 'First_Innings_Score',
       'Second_Innings_Score', 'Player_of_Match', 'Umpire', 'Umpire1',
       'Umpire2', 'Powerplay_Scores', 'Middle_Overs_Scores',
       'Death_Overs_Scores', 'year'],
      dtype='object')

In [85]:
# CODE FOR MERGING TWO DATASET ON THE LEFT ONE SO THAT ALL THE ROWS OF LEFT WILL NOT EXCULDE
# Step 1: Rename 'Match id' to 'Match_ID' in df3 to match df1
df3.rename(columns={'Match id': 'Match_ID'}, inplace=True)

# Step 2: Select relevant columns from df1 (excluding those already in df3 like Date, year)
df1_subset = df1.drop(columns=['Date', 'year'])

# Step 3: Merge df3 (main data) with match-level data from df1
df3_merged = df3.merge(df1_subset, on='Match_ID', how='left')

In [254]:
# ASSIGNING TO A NEW DATAFRAME 
df4=df3_merged

36

In [163]:
# CODE SNIPPETS TO CONVERT THE DATE IN  PROPER DATA TIME FORMAT 
# AS WE CAN EASILY FETCH THE YEAR , MONTH ,WEEK,ect
# df3_merged['year']=df3_merged['Date'].dt.year

In [248]:
# CHECKING WHETHER THE DATASET IS CORRECT OR NOT 

# df4[ (df4['year']==2010) & (df4['Match_ID']==419106)][['Match_ID','Date','Season','total_runs','batsman_run',
#                                                         'Ball No','Teams','Match_Winner',
#                                                         'First_Innings_Score','Second_Innings_Score',
#                                                         'Player_of_Match']].head(290)
# df4[ (df4['year']==2015) & (df4['Match_ID']==829705)][['Match_ID','Date','Season','total_runs','batsman_run',
#                                                         'Ball No','Teams','Match_Winner',
#                                                         'First_Innings_Score','Second_Innings_Score',
#                                                         'Player_of_Match']].head(290)
# df4[ (df4['year']==2024) & (df4['Match_ID']==1422119)][['Match_ID','Date','Season','total_runs','batsman_run',
#                                                         'Ball No',
#                                                         'First_Innings_Score','Second_Innings_Score',
#                                                         'Player_of_Match']].head(130)

In [183]:
df4.to_csv('final_cricket.csv',index=False)

In [184]:
df5=pd.read_csv('final_cricket.csv')

C:\Users\moham\AppData\Local\Temp\ipykernel_38016\3074432861.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df5=pd.read_csv('final_cricket.csv')

In [249]:
# THIS IS CODE SNIPPETS FOR FETCHING THE OVER NO AND BALL NO ALSO THE DATASET HAS THAT BUT THAT IS LIKE 0.1,0,2 AND SO 
# NOW THE OVER IS IN THE SEQUENCE LIKE 0,1,2,3 SO ON AND THE BALL NO  IS IN 1,2,3,FORMAT
# THIS WILL HELP TO FETCH A PARTICULAR OVER AND BALL

df5['new_ball_no']=df5['Ball No'].astype('string')
df5['over']=df5['new_ball_no'].str.split('.').str.get(0).astype(int)
df5['ball_no']=df5['new_ball_no'].str.split('.').str.get(1).astype(int)
df5=df5.drop(columns=['new_ball_no'])

In [245]:
df5.to_csv('final_cricket.csv',index=False)

In [246]:
df6=pd.read_csv('final_cricket.csv')

C:\Users\moham\AppData\Local\Temp\ipykernel_38016\3294899416.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df6=pd.read_csv('final_cricket.csv')

In [247]:
df6.columns

Index(['Match_ID', 'Date', 'Season', 'Batting team', 'Bowling team',
       'Innings No', 'Ball No', 'Bowler', 'Striker', 'Non Striker',
       'batsman_run', 'extras', 'type of extras', 'total_runs', 'score/wicket',
       'wicket_confirmation', 'wicket_type', 'fielders_involved', 'Player Out',
       'year', 'Teams', 'Venue', 'Toss_Winner', 'Toss_Decision',
       'Match_Winner', 'Win_Type', 'Win_Margin', 'First_Innings_Score',
       'Second_Innings_Score', 'Player_of_Match', 'Umpire', 'Umpire1',
       'Umpire2', 'Powerplay_Scores', 'Middle_Overs_Scores',
       'Death_Overs_Scores', 'over', 'ball_no'],
      dtype='object')

In [260]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255759 entries, 0 to 255758
Data columns (total 38 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Match_ID              255759 non-null  int64
 1   Date                  255759 non-null  object
 2   Season                255759 non-null  object
 3   Batting team          255759 non-null  object
 4   Bowling team          255759 non-null  object
 5   Innings No            255759 non-null  int64
 6   Ball No               255759 non-null  float64
 7   Bowler                255759 non-null  object
 8   Striker               255759 non-null  object
 9   Non Striker           255759 non-null  object
 10  batsman_run           255759 non-null  int64
 11  extras                255759 non-null  int64
 12  type of extras        13823 non-null   object
 13  total_runs            255759 non-null  int64
 14  score/wicket          255759 non-null  object
 15  wicket_confirmation   255759 non-null  int64
 16  wicket_type           12651 non-null   object
 17  fielders_involved     9122 non-null    object
 18  Player Out            12651 non-null   object
 19  year                  255759 non-null  int64
 20  Teams                 255759 non-null  object
 21  Venue                 255759 non-null  object
 22  Toss_Winner           255759 non-null  object
 23  Toss_Decision         255759 non-null  object
 24  Match_Winner          255759 non-null  object
 25  Win_Type              251635 non-null  object
 26  Win_Margin            251635 non-null  float64
 27  First_Innings_Score   255759 non-null  int64
 28  Second_Innings_Score  255450 non-null  float64
 29  Player_of_Match       255269 non-null  object
 30  Umpire                255759 non-null  object
 31  Umpire1               255759 non-null  object
 32  Umpire2               255759 non-null  object
 33  Powerplay_Scores      255759 non-null  int64
 34  Middle_Overs_Scores   255759 non-null  int64
 35  Death_Overs_Scores    255759 non-null  int64
 36  over                  255759 non-null  int64
 37  ball_no               255759 non-null  int64
dtypes: float64(3), int64(13), object(22)
memory usage: 74.1+ MB