In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:

df1=pd.read_csv(r"E:\ipl_full_info(2008-2024).csv")

C:\Users\moham\AppData\Local\Temp\ipykernel_32068\401050017.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(r"E:\ipl_full_info(2008-2024).csv")

In [3]:
df=df1.copy()

In [4]:
df['team_1']=df['Teams'].str.split('vs').str.get(0)
df['team_2']=df['Teams'].str.split('vs').str.get(1)

In [5]:
df.columns

Index(['Match_ID', 'Date', 'Season', 'Batting team', 'Bowling team',
       'Innings No', 'Ball No', 'Bowler', 'Striker', 'Non Striker',
       'batsman_run', 'extras', 'type of extras', 'total_runs', 'score/wicket',
       'wicket_confirmation', 'wicket_type', 'fielders_involved', 'Player Out',
       'year', 'Teams', 'Venue', 'Toss_Winner', 'Toss_Decision',
       'Match_Winner', 'Win_Type', 'Win_Margin', 'First_Innings_Score',
       'Second_Innings_Score', 'Player_of_Match', 'Umpire', 'Umpire1',
       'Umpire2', 'Powerplay_Scores', 'Middle_Overs_Scores',
       'Death_Overs_Scores', 'over', 'ball_no', 'team_1', 'team_2'],
      dtype='object')

In [6]:
df['Teams'].str.split

In [7]:
df['Batting team'].unique()

array(['Kolkata Knight Riders', 'Royal Challengers Bangalore',
       'Chennai Super Kings', 'Kings XI Punjab', 'Rajasthan Royals',
       'Delhi Daredevils', 'Mumbai Indians', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

In [8]:
df['Bowling team'].unique()

array(['Royal Challengers Bangalore', 'Kolkata Knight Riders',
       'Kings XI Punjab', 'Chennai Super Kings', 'Delhi Daredevils',
       'Rajasthan Royals', 'Mumbai Indians', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Gujarat Titans', 'Lucknow Super Giants',
       'Royal Challengers Bengaluru'], dtype=object)

In [9]:
df['Batting team'].unique()==df['Bowling team'].unique()

array([False, False, False, False, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False, False,
        True])

In [10]:
# import numpy as np

# a1 = np.array(['Royal Challengers Bangalore', 'Kolkata Knight Riders',
#        'Kings XI Punjab', 'Chennai Super Kings', 'Delhi Daredevils',
#        'Rajasthan Royals', 'Mumbai Indians', 'Deccan Chargers',
#        'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
#        'Rising Pune Supergiants', 'Gujarat Lions',
#        'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
#        'Gujarat Titans', 'Lucknow Super Giants',
#        'Royal Challengers Bengaluru'])  # first array
# a2 = np.array(['Kolkata Knight Riders', 'Royal Challengers Bangalore',
#        'Chennai Super Kings', 'Kings XI Punjab', 'Rajasthan Royals',
#        'Delhi Daredevils', 'Mumbai Indians', 'Deccan Chargers',
#        'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
#        'Rising Pune Supergiants', 'Gujarat Lions',
#        'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
#        'Lucknow Super Giants', 'Gujarat Titans',
#        'Royal Challengers Bengaluru'])  # second array

# # Check if both arrays contain the same elements (ignoring order)
# np.array_equal(np.sort(a1), np.sort(a2))

In [11]:
df['Batting team']=df['Batting team'].str.strip()
df['Bowling team']=df['Bowling team'].str.strip()

In [12]:
len(list(df[df['Batting team']=='Royal Challengers Bangalore']['Match_ID'].unique()))

240

In [13]:
rcb_matches = df[
    (df['Batting team'].isin(['Royal Challengers Bangalore', 'Royal Challengers Bengaluru'])) |
    (df['Bowling team'].isin(['Royal Challengers Bangalore', 'Royal Challengers Bengaluru']))
]

# Get unique matches
rcb_match_ids = rcb_matches['Match_ID'].unique()

# Count them
print("RCB total matches:", len(rcb_match_ids))

RCB total matches: 250

In [14]:
# Step 1: Create one long list where each row contains team and match_id
team_matches = pd.concat([
    df[['Match_ID', 'team_1']].rename(columns={'team_1': 'Team_demo'}),
    df[['Match_ID', 'team_2']].rename(columns={'team_2': 'Team_demo'})
])

# Step 2: Drop duplicates to avoid counting the same match multiple times for the same team
team_matches = team_matches.drop_duplicates()

# Step 3: Group and count
matches_per_team = team_matches.groupby('Team_demo')['Match_ID'].nunique().sort_values(ascending=False)

print(matches_per_team)

Team_demo
Royal Challengers Bangalore     135
 Mumbai Indians                 134
 Kolkata Knight Riders          128
Chennai Super Kings             127
Mumbai Indians                  123
Kolkata Knight Riders           118
 Rajasthan Royals               116
 Chennai Super Kings            107
 Royal Challengers Bangalore    105
Rajasthan Royals                 99
 Kings XI Punjab                 98
 Sunrisers Hyderabad             94
Kings XI Punjab                  92
Delhi Daredevils                 85
Sunrisers Hyderabad              81
 Delhi Daredevils                76
 Delhi Capitals                  49
Deccan Chargers                  39
Delhi Capitals                   39
 Deccan Chargers                 36
Punjab Kings                     30
 Gujarat Titans                  24
 Pune Warriors                   23
Pune Warriors                    23
 Punjab Kings                    22
Lucknow Super Giants             21
 Lucknow Super Giants            19
Gujarat Titans                   19
Gujarat Lions                    16
 Gujarat Lions                   14
 Rising Pune Supergiant           9
Kochi Tuskers Kerala              7
 Rising Pune Supergiants          7
Rising Pune Supergiant            7
Rising Pune Supergiants           7
 Kochi Tuskers Kerala             7
 Royal Challengers Bengaluru      5
Royal Challengers Bengaluru       5
Name: Match_ID, dtype: int64

In [15]:
team_name_map = {
    'Royal Challengers Bangalore': 'Royal Challengers Bangalore',
    'Royal Challengers Bengaluru': 'Royal Challengers Bangalore',
    
    'Chennai Super Kings': 'Chennai Super Kings',
    ' Chennai Super Kings': 'Chennai Super Kings',

    'Mumbai Indians': 'Mumbai Indians',
    ' Mumbai Indians': 'Mumbai Indians',

    'Kolkata Knight Riders': 'Kolkata Knight Riders',
    ' Kolkata Knight Riders': 'Kolkata Knight Riders',

    'Rajasthan Royals': 'Rajasthan Royals',
    ' Rajasthan Royals': 'Rajasthan Royals',

    'Kings XI Punjab': 'Punjab Kings',
    ' Kings XI Punjab': 'Punjab Kings',

    'Delhi Daredevils': 'Delhi Capitals',
    ' Delhi Daredevils': 'Delhi Capitals',
    'Delhi Capitals': 'Delhi Capitals',
    ' Delhi Capitals': 'Delhi Capitals',

    'Deccan Chargers': 'Deccan Chargers',
    ' Deccan Chargers': 'Deccan Chargers',

    'Gujarat Lions': 'Gujarat Lions',
    ' Gujarat Lions': 'Gujarat Lions',

    'Gujarat Titans': 'Gujarat Titans',
    ' Gujarat Titans': 'Gujarat Titans',

    'Sunrisers Hyderabad': 'Sunrisers Hyderabad',
    ' Sunrisers Hyderabad': 'Sunrisers Hyderabad',

    'Lucknow Super Giants': 'Lucknow Super Giants',
    ' Lucknow Super Giants': 'Lucknow Super Giants',

    'Pune Warriors': 'Pune Warriors',
    ' Pune Warriors': 'Pune Warriors',

    'Rising Pune Supergiants': 'Rising Pune Supergiants',
    ' Rising Pune Supergiants': 'Rising Pune Supergiants',
    'Rising Pune Supergiant': 'Rising Pune Supergiants',
    ' Rising Pune Supergiant': 'Rising Pune Supergiants',

    'Kochi Tuskers Kerala': 'Kochi Tuskers Kerala',
    ' Kochi Tuskers Kerala': 'Kochi Tuskers Kerala',
}
df['Batting team'] = df['Batting team'].map(team_name_map).fillna(df['Batting team'])
df['Bowling team'] = df['Bowling team'].map(team_name_map).fillna(df['Bowling team'])

In [16]:
df['Batting team'] = df['Batting team'].map(team_name_map).fillna(df['Batting team'])
df['Bowling team'] = df['Bowling team'].map(team_name_map).fillna(df['Bowling team'])

In [17]:
rcb_matches = df[
    (df['Batting team'] == 'Royal Challengers Bangalore') |
    (df['Bowling team'] == 'Royal Challengers Bangalore')
]

rcb_match_ids = rcb_matches['Match_ID'].unique()
print("RCB total matches:", len(rcb_match_ids))

RCB total matches: 250

In [19]:
rcb_matches = df[
    (df['Batting team'] == 'Chennai Super Kings') |
    (df['Bowling team'] == 'Chennai Super Kings')
]

rcb_match_ids = rcb_matches['Match_ID'].unique()
print("RCB total matches:", len(rcb_match_ids))

RCB total matches: 234

In [22]:
rcb_matches = df[
    (df['Batting team'] == 'Sunrisers Hyderabad') |
    (df['Bowling team'] == 'Sunrisers Hyderabad')
]

rcb_match_ids = rcb_matches['Match_ID'].unique()
print("RCB total matches:", len(rcb_match_ids))

RCB total matches: 175

In [24]:
df.to_csv('new_data.csv', index=False)