In [2]:
import pandas as pd
import numpy as np

In [23]:
df1=pd.read_csv(r'IPL_BallByBall2008_2024.csv')

C:\Users\moham\AppData\Local\Temp\ipykernel_34408\2719549974.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(r'IPL_BallByBall2008_2024.csv')

In [8]:
df1[df1.isnull()].size

4859421

In [13]:
df1['wicket_type'].sample(12)

94709        NaN
225256       NaN
171810       NaN
90127        lbw
206705       NaN
122662       NaN
174085       NaN
92841        NaN
44109        NaN
211131    caught
4552         NaN
109984       NaN
Name: wicket_type, dtype: object

In [16]:
df1[df1['wicket_type']=='caught']

,Match id,Date,Season,Batting team,Bowling team,Innings No,Ball No,Bowler,Striker,Non Striker,runs_scored,extras,type of extras,score,score/wicket,wicket_confirmation,wicket_type,fielders_involved,Player Out
0,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.1,P Kumar,SC Ganguly,BB McCullum,0,1,legbyes,1,1/0,0,caught,NaN,NaN
1,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.2,P Kumar,BB McCullum,SC Ganguly,0,0,NaN,1,1/0,0,caught,NaN,NaN
2,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.2,P Kumar,BB McCullum,SC Ganguly,0,1,wides,2,2/0,0,caught,NaN,NaN
3,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.3,P Kumar,BB McCullum,SC Ganguly,0,0,NaN,2,2/0,0,caught,NaN,NaN
4,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.4,P Kumar,BB McCullum,SC Ganguly,0,0,NaN,2,2/0,0,caught,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255754,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.1,RJ Gleeson,SM Curran,Shashank Singh,0,0,NaN,156,156/3,0,caught,NaN,NaN
255755,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.2,RJ Gleeson,SM Curran,Shashank Singh,4,0,NaN,160,160/3,0,caught,NaN,NaN
255756,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.3,RJ Gleeson,SM Curran,Shashank Singh,0,0,NaN,160,160/3,0,caught,NaN,NaN
255757,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.4,RJ Gleeson,SM Curran,Shashank Singh,0,1,legbyes,161,161/3,0,caught,NaN,NaN
255758,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.5,RJ Gleeson,Shashank Singh,SM Curran,2,0,NaN,163,163/3,0,caught,NaN,NaN

In [18]:
df1.tail(4)

,Match id,Date,Season,Batting team,Bowling team,Innings No,Ball No,Bowler,Striker,Non Striker,runs_scored,extras,type of extras,score,score/wicket,wicket_confirmation,wicket_type,fielders_involved,Player Out
255755,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.2,RJ Gleeson,SM Curran,Shashank Singh,4,0,NaN,160,160/3,0,caught,NaN,NaN
255756,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.3,RJ Gleeson,SM Curran,Shashank Singh,0,0,NaN,160,160/3,0,caught,NaN,NaN
255757,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.4,RJ Gleeson,SM Curran,Shashank Singh,0,1,legbyes,161,161/3,0,caught,NaN,NaN
255758,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.5,RJ Gleeson,Shashank Singh,SM Curran,2,0,NaN,163,163/3,0,caught,NaN,NaN

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255759 entries, 0 to 255758
Data columns (total 19 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Match id             255759 non-null  int64
 1   Date                 255759 non-null  object
 2   Season               255759 non-null  object
 3   Batting team         255759 non-null  object
 4   Bowling team         255759 non-null  object
 5   Innings No           255759 non-null  int64
 6   Ball No              255759 non-null  float64
 7   Bowler               255759 non-null  object
 8   Striker              255759 non-null  object
 9   Non Striker          255759 non-null  object
 10  runs_scored          255759 non-null  int64
 11  extras               255759 non-null  int64
 12  type of extras       13823 non-null   object
 13  score                255759 non-null  int64
 14  score/wicket         255759 non-null  object
 15  wicket_confirmation  255759 non-null  int64
 16  wicket_type          255759 non-null  object
 17  fielders_involved    9122 non-null    object
 18  Player Out           12651 non-null   object
dtypes: float64(1), int64(6), object(12)
memory usage: 37.1+ MB

In [20]:
df1.size

4859421